modules = ["nodejs-20"]

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 42715753
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80
